/*navbar*/
.navbar .nav-link.active {
  color: #ffc107;
  font-weight: 700;
  padding: 8px 16px;
  transition: 0.3s ease;
}

.navbar .nav-link:hover {
  background-color: #51a0eb;
  color: black;
  border-radius: 6px;
}

/*Transition*/
body {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

body.fade-out {
  opacity: 0;
}

.hero-box {
  height: 550px;
}

.hero-box .row {
  height: 100%;
}

.carousel,
.carousel-inner,
.carousel-item {
  height: 100%;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* MOBILE FIX */
@media (max-width: 768px) {
  .hero-box {
    height: auto;
  }

  .carousel,
  .carousel-inner,
  .carousel-item {
    height: 300px;
  }

  .hero-img {
    height: 300px;
    object-fit: cover;
  }
}

.product-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-content {
  width: 100%;
  max-width: 500px;
}

/* ABOUT */
.about-section {
  width: 100%;
  padding: 60px 8%;
  box-sizing: border-box;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 80px;
}

.about-container.reverse {
  flex-direction: row-reverse;
}

.about-image {
  flex: 1;
}

.about-image img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
}

/*Text*/
.about-text {
  flex: 1;
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-text p {
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 1rem;
}

@media (max-width: 1024px) {
  .about-container {
    gap: 30px;
  }

  .about-image img {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  .about-container.reverse {
    flex-direction: column;
  }

  .about-image img {
    width: 100%;
    height: 250px;
    border-radius: 6px;
  }

  .about-text {
    margin-top: 20px;
  }
}